# Blacklist everything by default
*

# Whitelist directories (directories with no tracked files don't get committed regardless)
!**/

!/.gitignore
!/.gitattributes

# License files
!/LICENSE*
!/COPYING*
!/MinecraftForge-Credits.txt
!/MinecraftForge-License.txt
!/CREDITS-fml.txt

# Documentation files
!/README.md

# Build files
!/build.gradle
!/gradlew
!/gradlew.bat
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties

# Meta project files
!/.meta/**/*

# Source
!/src/main/java/**/*.java

# Assets
!/src/main/resources/**/*.ogg
!/src/main/resources/**/*.png
!/src/main/resources/**/*.json
!/src/main/resources/**/*.mcmeta
!/src/main/resources/**/*.lang
!/src/main/resources/**/mcmod.info
!/src/main/resources/**/LICENSE*
!/src/main/resources/**/COPYING*
# Some old scripts in resources...
!/src/main/resources/**/*.bat
!/src/main/resources/**/*.txt
/bin/
