# Ignore huge files and download on demand instead of storing it inside git...
/libs/
/lib/

# Build system files
/.gradle/
/build/
/bin/
/out/
/assets/

# Eclipse files:
/eclipse/
/.settings/

# IDEA files:
/.idea/
.classpath
.project
*.iml
*.ipr
*.iws

# Kate files:
*.kate-swp
 
# Random Files
/random/
.directory
.post.txt
build.sh
copygt6.sh
postbuild
postupload
prebuild
preupload
refresh
updateforge
upload.sh
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt

