# Configuration file

blocks {
    S:dirtWhitelist <
        net.minecraft.block.BlockDirt
        biomesoplenty.common.blocks.BlockNewDirt
        enhancedbiomes.blocks.BlockSoilEB
        com.bioxx.tfc.Blocks.Terrain.BlockDirt
        net.aetherteam.aether.blocks.natural.BlockAetherDirt
     >
    S:dirtBlacklist <
     >
    S:grassWhitelist <
        net.minecraft.block.BlockGrass
        biomesoplenty.common.blocks.BlockOriginGrass
        biomesoplenty.common.blocks.BlockLongGrass
        biomesoplenty.common.blocks.BlockNewGrass
        tconstruct.blocks.slime.SlimeGrass
        enhancedbiomes.blocks.BlockGrassEB
        com.bioxx.tfc.Blocks.Terrain.BlockGrass
        net.aetherteam.aether.blocks.natural.BlockAetherGrass
     >
    S:grassBlacklist <
     >
    S:leavesWhitelist <
        net.minecraft.block.BlockLeavesBase
        forestry.arboriculture.gadgets.BlockLeaves
        thaumcraft.common.blocks.BlockMagicalLeaves
        gregtech.blocks.tree.BlockTreeLeaves
     >
    S:leavesBlacklist <
     >
    S:cropsWhitelist <
        net.minecraft.block.BlockTallGrass
        net.minecraft.block.BlockCrops
        net.minecraft.block.BlockReed
        net.minecraft.block.BlockDoublePlant
        biomesoplenty.common.blocks.BlockBOPFlower
        biomesoplenty.common.blocks.BlockBOPFlower2
        tconstruct.blocks.slime.SlimeTallGrass
        plantmegapack.block.PMPBlockBerrybush
        plantmegapack.block.PMPBlockCrops
        plantmegapack.block.PMPBlockDesert
        plantmegapack.block.PMPBlockFern
        plantmegapack.block.PMPBlockFlowerMulti
        plantmegapack.block.PMPBlockFlowerSingle
        plantmegapack.block.PMPBlockForest
        plantmegapack.block.PMPBlockGrass
        plantmegapack.block.PMPBlockJungle
        plantmegapack.block.PMPBlockMountain
        plantmegapack.block.PMPBlockSavanna
        plantmegapack.block.PMPBlockShrub
        plantmegapack.block.PMPBlockWetlands
        com.pam.harvestcraft.BlockPamCrop
        com.pam.harvestcraft.BlockPamDesertGarden
        com.pam.harvestcraft.BlockPamNormalGarden
        com.pam.harvestcraft.BlockPamWaterGarden
     >
    S:cropsBlacklist <
        net.minecraft.block.BlockCarrot
        net.minecraft.block.BlockPotato
     >
    S:logsWhitelist <
        net.minecraft.block.BlockLog
        biomesoplenty.common.blocks.BlockBOPLog
        mods.natura.blocks.trees.DarkTreeBlock
        mods.natura.blocks.trees.LogTwoxTwo
        mods.natura.blocks.trees.SimpleLog
        thaumcraft.common.blocks.BlockMagicalLog
        forestry.arboriculture.gadgets.BlockLog
        com.bioxx.tfc.Blocks.Flora.BlockLogVert
        com.bioxx.tfc.Blocks.Flora.BlockLogNatural
        ic2.core.block.BlockRubWood
        gregtech.blocks.tree.BlockTreeLog1
        gregtech.blocks.tree.BlockTreeLog1FireProof
        gregtech.blocks.tree.BlockTreeLogA
        gregtech.blocks.tree.BlockTreeLogAFireProof
        gregtech.blocks.tree.BlockTreeLogB
        gregtech.blocks.tree.BlockTreeLogBFireProof

     >
    S:logsBlacklist <
        extrabiomes.blocks.BlockMiniLog
     >
    S:sandWhitelist <
        net.minecraft.block.BlockSand
        com.bioxx.tfc.Blocks.Terrain.BlockSand
     >
    S:sandBlacklist <
     >
    S:lilypadWhitelist <
        net.minecraft.block.BlockLilyPad
        com.bioxx.tfc.Blocks.Vanilla.BlockCustomLilyPad
     >
    S:lilypadBlacklist <
     >
    S:cactusWhitelist <
        net.minecraft.block.BlockCactus
        com.bioxx.tfc.Blocks.Vanilla.BlockCustomCactus
     >
    S:cactusBlacklist <
     >
}
