# Configuration file

General {
    # This allows you to disable recipes for Florbs. It also means that you actively dislike fun things.
    B:Recipe.Enable=true
}


Whitelist {
    B:adamantine.molten=true
    B:aerotheum=true
    B:alduorite.molten=true
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:amordrine.molten=true
    B:angmallen.molten=true
    B:ardite.molten=true
    B:astral.silver.molten=true
    B:atlarus.molten=true
    B:bacterialsludge=true
    B:bioethanol=true
    B:biofuel=true
    B:biomass=true
    B:black.steel.molten=true
    B:blood=true
    B:brass.molten=true
    B:bronze.molten=true
    B:canolaoil=true
    B:carmot.molten=true
    B:celenegil.molten=true
    B:ceruclase.molten=true
    B:chlorophyll=true
    B:chocolatemilk=true
    B:chroma=true
    B:cloud_seed=true
    B:cloud_seed_concentrated=true
    B:coal=true
    B:cobalt.molten=true
    B:copper.molten=true
    B:creosote=true
    B:cryotheum=true
    B:custard=true
    B:cyanite=true
    B:damascus.steel.molten=true
    B:deep.iron.molten=true
    B:densesteam=true
    B:desichalkos.molten=true
    B:diesel=true
    B:electrum.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:enderium.molten=true
    B:etchacid=true
    B:eximite.molten=true
    B:fastwater=true
    B:fire_water=true
    B:fishoil=true
    B:fluiddeath=true
    B:fluidpure=true
    B:fluidrubbertreesap=true
    B:fluorocarbonfluid=true
    B:flux=true
    B:fluxgoo=true
    B:for.honey=true
    B:fuel=true
    B:fuelbio=true
    B:fusionplasma=true
    B:glass=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:grc.applecider0=true
    B:grc.applecider1=true
    B:grc.applecider2=true
    B:grc.applecider3=true
    B:grc.applecider4=true
    B:grc.applecider5=true
    B:grc.applecider6=true
    B:grc.grapewine0=true
    B:grc.grapewine1=true
    B:grc.grapewine2=true
    B:grc.grapewine3=true
    B:grc.grapewine4=true
    B:grc.grapewine5=true
    B:grc.grapewine6=true
    B:grc.grapewine7=true
    B:grc.honey=true
    B:grc.honeymead0=true
    B:grc.honeymead1=true
    B:grc.honeymead2=true
    B:grc.honeymead3=true
    B:grc.honeymead4=true
    B:grc.honeymead5=true
    B:grc.honeymead6=true
    B:grc.hopale0=true
    B:grc.hopale1=true
    B:grc.hopale2=true
    B:grc.hopale3=true
    B:grc.hopale4=true
    B:grc.hopale5=true
    B:grc.hopale6=true
    B:grc.hopale7=true
    B:grc.hopale8=true
    B:grc.lager0=true
    B:grc.lager1=true
    B:grc.lager2=true
    B:grc.lager3=true
    B:grc.lager4=true
    B:grc.lager5=true
    B:grc.lager6=true
    B:grc.ricesake0=true
    B:grc.ricesake1=true
    B:grc.ricesake2=true
    B:grc.ricesake3=true
    B:grc.ricesake4=true
    B:grc.ricesake5=true
    B:grc.ricesake6=true
    B:grccore.saltwater=true
    B:grcmilk.buttermilk=true
    B:grcmilk.cream=true
    B:grcmilk.curds=true
    B:grcmilk.kumis0=true
    B:grcmilk.kumis1=true
    B:grcmilk.kumis2=true
    B:grcmilk.kumis3=true
    B:grcmilk.kumis4=true
    B:grcmilk.kumis5=true
    B:grcmilk.milk=true
    B:grcmilk.pasteurizedmilk=true
    B:grcmilk.rennet=true
    B:grcmilk.skimmilk=true
    B:grcmilk.whey=true
    B:gunpowder=true
    B:haderoth.molten=true
    B:heavyoil=true
    B:hell_blood=true
    B:hepatizon.molten=true
    B:honey=true
    B:hootch=true
    B:hotcrude=true
    B:hydraulicoil=true
    B:hydrogen=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2constructionfoam=true
    B:ic2coolant=true
    B:ic2distilledwater=true
    B:ic2hotcoolant=true
    B:ic2hotwater=true
    B:ic2pahoehoelava=true
    B:ic2steam=true
    B:ic2superheatedsteam=true
    B:ic2uumatter=true
    B:ice=true
    B:ignatius.molten=true
    B:infuscolium.molten=true
    B:inolashite.molten=true
    B:invar.molten=true
    B:iron.molten=true
    B:juice=true
    B:kalendrite.molten=true
    B:kerosene=true
    B:lava=true
    B:lead.molten=true
    B:lemurite.molten=true
    B:lightoil=true
    B:liquid_extra_heavy_oil=true
    B:liquid_heavy_oil=true
    B:liquid_light_oil=true
    B:liquid_medium_oil=true
    B:liquid_sunshine=true
    B:liquiddna=true
    B:liquidessence=true
    B:liquidhelium=true
    B:liquidmethane=true
    B:lpg=true
    B:lubricant=true
    B:lumium.molten=true
    B:mana=true
    B:manganese.molten=true
    B:manyullyn.molten=true
    B:matter_plasma=true
    B:mead=true
    B:meat=true
    B:meutoite.molten=true
    B:midasium.molten=true
    B:milk=true
    B:mithril.molten=true
    B:mobessence=true
    B:molten_tritanium=true
    B:mushroomsoup=true
    B:mutagen=true
    B:myst.ink.black=true
    B:naturalgas=true
    B:nickel.molten=true
    B:nitrogen=true
    B:nutrient_distillation=true
    B:obsidian.molten=true
    B:oil=true
    B:orichalcum.molten=true
    B:oureclase.molten=true
    B:oxygen=true
    B:petrotheum=true
    B:pigiron.molten=true
    B:pinkslime=true
    B:plastic=true
    B:platinum.molten=true
    B:poison=true
    B:prometheum.molten=true
    B:protein=true
    B:pyrotheum=true
    B:quicksilver.molten=true
    B:"rc corium"=true
    B:"rc lifbe fuel"=true
    B:redplasma=true
    B:redstone=true
    B:rocket_fuel=true
    B:rocketfuel=true
    B:rubracium.molten=true
    B:saltwater=true
    B:sanguinite.molten=true
    B:seawater=true
    B:seedoil=true
    B:sewage=true
    B:shadow.iron.molten=true
    B:shadow.steel.molten=true
    B:short.mead=true
    B:signalum.molten=true
    B:silver.molten=true
    B:slime.blue=true
    B:sludge=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:superdensesteam=true
    B:tartarite.molten=true
    B:tin.molten=true
    B:unknowwater=true
    B:vulcanite.molten=true
    B:vyroxeres.molten=true
    B:water=true
    B:waterdirty=true
    B:wind=true
    B:"witchery:brew"=true
    B:"witchery:brewliquid"=true
    B:"witchery:fluiddisease"=true
    B:"witchery:fluidspirit"=true
    B:"witchery:hollowtears"=true
    B:yellorium=true
    B:zinc.molten=true
}


